extends layout

block content
  div.container.mx-auto.px-4.mt-8
    h1.px-3.mb-4.text-base.sm_text-2xl.font-bold.text-gray-900 New Jobs
    



//- <h2 class="px-3 mb-4 text-xl font-bold">New Jobs</h2>
  //- div.class.anotherclass
  //-   - const string = 'template component'
  //-   p#id Hello #{name}!
  //-   img(src="dog.jpg" alt="Dog")
  //-   img(src="person.jpg" alt=`Picture of ${name}`)
  //-   p #{string}
  //-   p #{h.moment().endOf('day'). fromNow()}
